<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Florida Tech Course Planner Bundle</title>

    <!-- AngularJS core module -->
    <script src="../js/angularjs/angular.js"></script>
</head>

<body>
    <!-- AngularJS Material module and CSS-->
    <script src="../js/angularjs/angular-animate.js"></script>
    <script src="../js/angularjs/angular-aria.js"></script>
    <script src="../js/angularjs/angular-messages.js"></script>
    <script src="../js/angularjs/angular-material.js"></script>
    <link rel="stylesheet" href="../css/angularjs/angular-material.css">

    <!-- Stealing some component from bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap/bootstrap-excerpt.css">

    <!-- Main container for everything. -->
    <div ng-app="indexPageModule" ng-controller="indexPageControl" ng-cloak>
        <script src="../js/module/indexPageModule.js"></script>
        <script src="../js/service/cacheBusterService.js"></script>
        <script src="../js/controller/indexPageControl.js"></script>

        <md-content class="md-padding" layout-xs="column" layout="row">
            <!-- Left spacer, works with right spacer to keep content centered -->
            <span flex></span>

            <!-- Section Explorer -->
            <md-card style="max-width: 360px;">
                <img src="../image/0779bdbaac3808b334e039a2df9a0246b04c7a84.png" class="md-card-image">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Section Explorer</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    Use Section Explorer to navigate through the pool of all sections offered in a semester.
                </md-card-content>
                <md-card-actions layout="column">
                    <md-button class="md-raised md-primary" ng-href="sectionExplorer.html?semester={{semester}}" ng-repeat="(semester, meta) in scheduleMeta">
                        {{meta.year}} {{semester}}
                    </md-button>
                </md-card-actions>
            </md-card>

            <!-- Semester Planner -->
            <md-card style="max-width: 360px;">
                <img src="../image/6b2eea7aecbd343286ec4c7c5ec351861b140e41.png" class="md-card-image">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Semester Planner</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    Use Semester Planner to figure out your detailed schedule and generate relevant forms.
                </md-card-content>
                <md-card-actions layout="column">
                    <md-button class="md-raised md-primary" ng-href="semesterPlanner.html?semester={{semester}}" ng-repeat="(semester, meta) in scheduleMeta">
                        {{meta.year}} {{semester}}
                    </md-button>
                </md-card-actions>
            </md-card>

            <!-- Degree Planner -->
            <!-- <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Degree Planner</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card> -->

            <md-divider></md-divider>
            <!-- For Developers -->
            <md-card style="max-width: 360px;">
                <img src="../image/c7c911dea8a248aa5acdc7a99d090de16bde7911.png" class="md-card-image">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            <pre style="margin: 0px;">Developers</pre>
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    You can explore and contribute to the project by going to the GitHub repository.
                    Or view the auto-generated documentation of the code base.
                </md-card-content>
                <md-card-actions layout="column">
                    <md-button class="md-raised md-primary" href="https://github.fit.edu/FloridaTechCoursePlanner/CoursePlanner">
                        Repository on github.fit.edu
                    </md-button>
                    <md-button class="md-raised md-primary" href="../../jsdocs/index.html">
                        Code documentation
                    </md-button>
                </md-card-actions>
            </md-card>

            <!-- Right spacer, works with left spacer to keep content centered -->
            <span flex></span>
        </md-content>
    </div>
</body>

</html>
