#courseSelectorCard > md-toolbar > div > span {
    align-content: center;
}

#courseSelectorCard > md-card-content {
    padding: 0px;
}

#courseSelectorCard > md-card-content > md-tabs {
    padding-bottom: 0px;
}

#courseSelectorCard > md-card-content md-tab-content > div > md-list {
    padding: 0px;
}

/* List item */
#courseSelectorCard > md-card-content md-tab-content > div > md-list > div > md-list-item {
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

/* The badge placed in the front of list item */
#courseSelectorCard > md-card-content md-tab-content > div > md-list > div > md-list-item > div > div.md-list-item-inner > h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 16px;
    /* There are subjects with 4 letters, and 52px is enough to hold 4 letters*/
    min-width: 52px;
}

/* 1st badge following list item title */
#courseSelectorCard > md-card-content md-tab-content > div > md-list > div > md-list-item > div > div.md-list-item-inner > div > h3 > div > span.badge:first-child {
    margin-left: auto;
}

/* All badges following list item title, except the last one */
#courseSelectorCard > md-card-content md-tab-content > div > md-list > div > md-list-item > div > div.md-list-item-inner > div > h3 > div > span.badge:not(:last-child) {
    margin-right: 2px;
}

#courseSelectorCard > md-card-content md-list > md-list-item h3 > table > tbody > tr > td:not(:last-child) {
    padding-right: 12px;
}

#courseSelectorCard > md-card-content md-list > md-list-item h4 > table > tbody > tr > td:not(:last-child) {
    padding-right: 16px;
}

#courseSelectorCard > md-card-content md-input-container#searchBar {
    margin-left: 4px;
    margin-right: 4px;
}

#fullSectionDialog > md-dialog {
    background-color: #fcf8e3;
}

#fullSectionSwitchDialog > md-dialog {
    background-color: #fcf8e3;
}

#conflictSectionDialog > md-dialog {
    background-color: #f2dede;
}

.infoDialog > md-dialog > md-dialog-content > h3 {
    margin-bottom: 8px;
}

.infoDialog > md-dialog > md-dialog-content > ul.status {
    padding-left: 0px;
    list-style-type: none;
}

.infoDialog > md-dialog > md-dialog-content > ul.status > li {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 16px;
    padding: 16px;
    display: flex;
}

.infoDialog > md-dialog > md-dialog-content > ul.status > li > span {
    font-weight: 500;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
}

.infoDialog > md-dialog > md-dialog-content > ul.status > li > md-icon {
    padding-right: 8px;
}

.infoDialog > md-dialog > md-dialog-content > ul.status > li > button.md-button {
    margin: 0px;
}

.infoDialog > md-dialog > md-dialog-content > ul.status > li.blue {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.infoDialog > md-dialog > md-dialog-content > ul.status > li.green {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.infoDialog > md-dialog > md-dialog-content > ul.status > li.red {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.infoDialog > md-dialog > md-dialog-content > ul.status > li.yellow {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.infoDialog > md-dialog > md-dialog-content > table.tags > tbody > tr > td:first-child {
    padding-right: 8px;
}

.infoDialog > md-dialog > md-dialog-content > table.sections > thead > tr > th {
    text-align: left;
    padding-right: 16px;
}

.infoDialog > md-dialog > md-dialog-content > table.sections > tbody > tr > td {
    text-align: left;
    padding-right: 16px;
}

.infoDialog > md-dialog > md-dialog-content > table.times > thead > tr > th {
    text-align: left;
    padding-right: 16px;
}

.infoDialog > md-dialog > md-dialog-content > table.times > tbody > tr > td {
    text-align: left;
    padding-right: 16px;
}
