#courseSelectorCard > md-card-content {
    /* Remove the padding that creates gap surrounding the content */
    padding: 0px;
}

#courseSelectorCard md-tabs {
    /* Remove padding that overflows tabs */
    padding-bottom: 0px;
}

#courseSelectorCard md-list {
    /* Remove padding that leaves a tiny gap on top and on bottom of the list */
    padding: 0px;
}

#courseSelectorCard md-list md-list-item {
    /* Draw a border to separate each list item */
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

/* The badge placed in the front of list item */
#courseSelectorCard md-list md-list-item div.md-list-item-inner > h3 {
    /* Create a gap between badge and text */
    margin-right: 16px;
    /* There are subjects with 4 letters, and 52px is enough to hold 4 letters */
    min-width: 52px;
}

/* 1st badge following list item title */
#courseSelectorCard md-list md-list-item div.md-list-item-text > h3 span.badge:first-child {
    /* Create space to push badges to the right */
    margin-left: auto;
}

/* All badges following list item title, except the last one */
#courseSelectorCard md-list md-list-item div.md-list-item-text > h3 span.badge:not(:last-child) {
    /* Create space between badges */
    margin-right: 2px;
}

#courseSelectorCard md-list md-list-item div.md-list-item-text > p {
    /* Shrink notes font size and line height. Otherwise it tends to use too much space in the box. */
    font-size: 12px;
    line-height: 12px;
}

#courseSelectorCard md-list md-list-item div.md-list-item-text > h4 table tr > td:not(:last-child) {
    /* Create space between list items */
    padding-right: 16px;
}

#courseSelectorCard md-input-container#searchBar {
    /* Create space before and after search bar. It looks less clutched */
    margin-left: 4px;
    margin-right: 4px;
}

#fullSectionDialog > md-dialog {
    /* Synchronize color with full section list item */
    background-color: #fcf8e3;
}

/* Vertically center the icon on title */
#fullSectionDialog > md-dialog > md-dialog-content > h2 > md-icon {
    margin-bottom: 4px;
}

#fullSectionSwitchDialog > md-dialog {
    /* Synchronize color with full section list item */
    background-color: #fcf8e3;
}

/* Vertically center the icon on title */
#fullSectionSwitchDialog > md-dialog > md-dialog-content > h2 > md-icon {
    margin-bottom: 4px;
}

#conflictSectionDialog > md-dialog {
    /* Synchronize color with conflicting section list item */
    background-color: #f2dede;
}

/* Vertically center the icon on title */
#conflictSectionDialog > md-dialog > md-dialog-content > h2 > md-icon {
    margin-bottom: 4px;
}

.infoDialog > md-dialog > md-dialog-content > h3 {
    margin-bottom: 8px;
}

.infoDialog > md-dialog > md-dialog-content > ul.status {
    padding-left: 0px;
    list-style-type: none;
}

.infoDialog > md-dialog > md-dialog-content > ul.status > li {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 16px;
    padding: 16px;
    display: flex;
}

.infoDialog > md-dialog > md-dialog-content > ul.status > li > span {
    font-weight: 500;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
}

.infoDialog > md-dialog > md-dialog-content > ul.status > li > button.md-button {
    margin: 0px;
}

.infoDialog > md-dialog > md-dialog-content > ul.status > li.blue {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.infoDialog > md-dialog > md-dialog-content > ul.status > li.green {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.infoDialog > md-dialog > md-dialog-content > ul.status > li.red {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.infoDialog > md-dialog > md-dialog-content > ul.status > li.yellow {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.infoDialog > md-dialog > md-dialog-content > table.tags > tbody > tr > td:first-child {
    padding-right: 8px;
}

.infoDialog > md-dialog > md-dialog-content > table.sections > thead > tr > th {
    text-align: left;
    padding-right: 16px;
}

.infoDialog > md-dialog > md-dialog-content > table.sections > tbody > tr > td {
    text-align: left;
    padding-right: 16px;
}

.infoDialog > md-dialog > md-dialog-content > table.times > thead > tr > th {
    text-align: left;
    padding-right: 16px;
}

.infoDialog > md-dialog > md-dialog-content > table.times > tbody > tr > td {
    text-align: left;
    padding-right: 16px;
}
