<link rel="stylesheet" href="/client/css/semesterPlanner/calendarCard.css">

<md-card id="calendarCard" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Calendar</span>
            <span flex></span>

            <div ng-if="controller.tabIndex == 0">
                <md-button class="md-raised" ng-click="clearSections()">
                    <md-icon md-svg-src="cross"></md-icon>
                    Clear sections
                </md-button>
                <md-button class="md-raised" ng-click="clearBlockOuts()">
                    <md-icon md-svg-src="cross"></md-icon>
                    Clear block outs
                </md-button>
            </div>

            <div ng-if="controller.tabIndex == 1">
                <md-button class="md-raised" ng-click="generateRegForm()">
                    <md-icon md-svg-src="pdf"></md-icon>
                    Generate Registration Form
                </md-button>
            </div>
        </div>
    </md-toolbar>

    <md-card-content flex>
        <md-tabs class="md-primary" md-selected="controller.tabIndex" md-center-tabs md-align-tabs="bottom" layout-fill>
            <md-tab label="Calendar">
                <daypilot-calendar id="daypilot" config="config" events="events" layout-fill></daypilot-calendar>
            </md-tab>

            <md-tab label="Summary">
                <table id="summary">
                    <thead>
                        <tr>
                            <th ng-repeat="column in columns">
                                {{column}}
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="section in sections">
                            <td>
                                {{section.crn}}
                            </td>
                            <td>
                                {{section.subject}}
                            </td>
                            <td>
                                {{section.course}}
                            </td>
                            <td>
                                {{section.section}}
                            </td>
                            <td>
                                {{section.title}}
                            </td>
                            <td>
                                <span ng-repeat="day in section.days">
                                    {{day}}
                                    <br>
                                </span>
                            </td>
                            <td>
                                <span ng-repeat="time in section.times">
                                    {{time[0]}} - {{time[1]}}
                                    <br>
                                </span>
                            </td>
                            <td>
                                <span ng-repeat="place in section.places">
                                    {{place[0]}} {{place[1]}}
                                    <br>
                                </span>
                            </td>
                            <td>
                                <span>{{section.cr[0]}}</span>
                                <span ng-if="section.cr[0] != section.cr[1]"> - {{section.cr[1]}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-tab>
        </md-tabs>
    </md-card-content>
</md-card>

<div style="visibility: hidden">
    <div id="addBlockOutDialog" class="md-dialog-container">
        <md-dialog layout-padding>
            <md-dialog-content class="md-dialog-content">
                <h2>Create block out event</h2>

                <form ng-submit="dialogConfirm('title')">
                    <md-input-container class="md-block" type="submit">
                        <label>Title</label>
                        <input type="text" ng-model="addBlockOutDialog.eventTitle">
                    </md-input-container>
                </form>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised" ng-click="dialogCancel('cancel')">Cancel</md-button>
                <md-button class="md-raised md-primary" ng-click="dialogConfirm('title')" ng-disabled="addBlockOutDialog.eventTitle.length==0">Add</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>

    <div id="changeBlockOutDialog" class="md-dialog-container">
        <md-dialog layout-padding>
            <md-dialog-content class="md-dialog-content">
                <h2>Change block out event</h2>

                <form ng-submit="dialogConfirm('title')">
                    <md-input-container class="md-block" type="submit">
                        <label>Title</label>
                        <input ng-model="changeBlockOutDialog.eventTitle">
                    </md-input-container>
                </form>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button class="md-raised md-warn" ng-click="dialogConfirm('remove')">Remove</md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="dialogCancel()">Cancel</md-button>
                <md-button class="md-raised md-primary" ng-click="dialogConfirm('title')" ng-disabled="changeBlockOutDialog.eventTitle.length==0">Change</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>

    <div id="clearSectionsDialog" class="md-dialog-container">
        <md-dialog layout-padding>
            <md-dialog-content class="md-dialog-content">
                <h2>Clear all selected sections</h2>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised" ng-click="dialogCancel()">Cancel</md-button>
                <md-button class="md-raised md-warn" ng-click="dialogConfirm()">Clear</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>

    <div id="clearBlockOutsDialog" class="md-dialog-container">
        <md-dialog layout-padding>
            <md-dialog-content class="md-dialog-content">
                <h2>Clear all block outs</h2>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised" ng-click="dialogCancel()">Cancel</md-button>
                <md-button class="md-raised md-warn" ng-click="dialogConfirm()">Clear</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>

    <div id="generateRegFormDialog" class="md-dialog-container">
        <md-dialog>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-raised" ng-click="dialogCancel()">
                        <md-icon md-svg-src="arrow:left"></md-icon>
                        Back
                    </md-button>
                    <span flex>
                        Registration Form
                    </span>
                    <md-button class="md-raised" ng-click="dialogConfirm('download')">
                        <md-icon md-svg-src="download"></md-icon>
                        Download
                    </md-button>
                    <md-button class="md-raised" ng-click="dialogConfirm('print')" ng-disabled="true">
                        <md-icon md-svg-src="printer"></md-icon>
                        Print
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content class="md-dialog-content">
                <embed id="regFormPdfEmbed"></embed>
            </md-dialog-content>
        </md-dialog>
    </div>
</div>
