<link rel="stylesheet" href="/client/css/semesterPlanner/calendarCard.css">

<md-card id="calendarCard" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Calendar</span>
        </div>
    </md-toolbar>

    <md-card-content flex>
        <md-tabs class="md-primary" md-center-tabs md-align-tabs="bottom" layout-fill>
            <md-tab label="Calendar">
                <daypilot-calendar id="daypilot" config="config" events="events" layout-fill></daypilot-calendar>
            </md-tab>

            <md-tab label="Summary">
                <table id="summary">
                    <thead>
                        <tr>
                            <th ng-repeat="column in columns">
                                {{column}}
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="section in sections">
                            <td>
                                {{section.crn}}
                            </td>
                            <td>
                                {{section.subject}}
                            </td>
                            <td>
                                {{section.course}}
                            </td>
                            <td>
                                {{section.section}}
                            </td>
                            <td>
                                {{section.title}}
                            </td>
                            <td>
                                <span ng-repeat="day in section.days">
                                    {{day}}
                                    <br>
                                </span>
                            </td>
                            <td>
                                <span ng-repeat="time in section.times">
                                    {{time[0]}} - {{time[1]}}
                                    <br>
                                </span>
                            </td>
                            <td>
                                <span ng-repeat="place in section.places">
                                    {{place[0]}} {{place[1]}}
                                    <br>
                                </span>
                            </td>
                            <td>
                                <span>{{section.cr[0]}}</span>
                                <span ng-if="section.cr[0] != section.cr[1]"> - {{section.cr[1]}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-tab>
        </md-tabs>
    </md-card-content>
</md-card>

<div style="visibility: hidden">
    <div id="addBlockOutDialog" class="md-dialog-container">
        <md-dialog layout-padding>
            <md-dialog-content class="md-dialog-content">
                <h2>Create block out event</h2>

                <md-input-container class="md-block">
                    <label>Title</label>
                    <input ng-model="addBlockOutDialog.eventTitle">
                </md-input-container>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised" ng-click="dialog('cancel')">Cancel</md-button>
                <md-button class="md-raised md-primary" ng-click="dialog('confirm', 'title')" ng-disabled="addBlockOutDialog.eventTitle.length==0">Add</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>

    <div id="changeBlockOutDialog" class="md-dialog-container">
        <md-dialog layout-padding>
            <md-dialog-content class="md-dialog-content">
                <h2>Change block out event</h2>

                <md-input-container class="md-block">
                    <label>Title</label>
                    <input ng-model="changeBlockOutDialog.eventTitle">
                </md-input-container>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button class="md-warn" ng-click="dialog('confirm', 'remove')">Remove block out</md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="dialog('cancel')">Cancel</md-button>
                <md-button class="md-raised md-primary" ng-click="dialog('confirm', 'title')" ng-disabled="changeBlockOutDialog.eventTitle.length==0">Change</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>
