<link rel="stylesheet" href="/client/css/semesterPlanner/courseSelectorCard.css">

<md-card id="courseSelectorCard" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-raised" ng-click="click('toolbar')">
                <md-icon md-svg-icon='arrow:left'></md-icon>
                {{toolbar.button}}
            </md-button>
            <span flex>{{toolbar.title}}</span>
        </div>
    </md-toolbar>

    <md-card-content flex>
        <!-- There is a bug in AngularJS that tabIndex must be a controller variable -->
        <md-tabs class="md-primary" md-selected="controller.tabIndex" md-center-tabs md-align-tabs="bottom" layout-fill>
            <md-tab label="Search" md-on-select="setToolbar(0)">
                <div layout="row">
                    <md-input-container id="searchBar" flex>
                        <label>CRN or Subject + Course Number or Instructor</label>
                        <input type="text" ng-model="search.input" ng-change="searchInputChange()">
                        <div ng-messages>
                            <span>{{search.help}}</span>
                        </div>
                    </md-input-container>

                </div>

                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="section in search.sections | limitTo:search.nShown" ng-click="click('section', section)" ng-style="style('section', section)" ng-mouseenter="mouseEnter(section)" ng-mouseleave="mouseLeave(section)">
                        <h3 layout="column">
                            <span class="badge badge-primary">{{section.crn}}</span>
                            <span class="badge badge-light">{{section.subject}} {{section.course}}</span>
                        </h3>

                        <div class="md-list-item-text" layout="column">
                            <h3>
                                <div layout="row">
                                    {{section.instructor}}
                                    <span class="badge badge-light">{{section.cap[0]}} / {{section.cap[1]}}</span>
                                    <md-progress-circular md-mode="determinate" value="{{section.cap[0] / section.cap[1] * 100}}" md-diameter="16px"></md-progress-circular>
                                </div>
                            </h3>
                            <h4>
                                <span ng-if="section.days.length==0 && section.times.length==0 && section.places.length==0">(No times available)</span>

                                <table ng-if="section.days.length!=section.times.length || section.times.length!=section.places.length">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span ng-repeat="day in section.days"><b>{{day}}</b><br></span>
                                            </td>
                                            <td>
                                                <span ng-repeat="time in section.times">{{time[0]}} - {{time[1]}}<br></span>
                                            </td>
                                            <td>
                                                <span ng-repeat="place in section.places">{{place[0]}} {{place[1]}}<br></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table ng-if="section.days.length==section.times.length && section.times.length==section.places.length">
                                    <tbody>
                                        <tr ng-repeat="time in section.times">
                                            <td>
                                                <b>{{section.days[$index]}}</b>
                                            </td>
                                            <td>
                                                {{time[0]}}-{{time[1]}}
                                            </td>
                                            <td>
                                                {{section.places[$index][0]}} {{section.places[$index][1]}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </h4>
                            <p>{{section.note}}</p>
                        </div>

                        <md-button class="md-raised md-icon-button" aria-label="label">
                            <md-icon md-svg-src="arrow:right"></md-icon>
                        </md-button>
                    </md-list-item>
                </md-list>

                <div layout="column" layout-align="center">
                    <md-button class="md-warn" ng-click="search.showMore()" ng-disabled="search.sections.length <= search.nShown">
                        <span ng-show="search.nShown + search.nShownDelta <= search.sections.length">
                            Show next {{search.nShownDelta}} sections
                        </span>

                        <span ng-show="search.nShown < search.sections.length && search.sections.length < search.nShown + search.nShownDelta">
                            Show last {{search.sections.length - search.nShown}} sections
                        </span>

                        <span ng-show="search.sections.length <= search.nShown && search.sections.length != 0">
                            All {{search.sections.length}} sections are shown
                        </span>
                    </md-button>
                </div>
            </md-tab>

            <md-tab label="Subjects" md-on-select="setToolbar(1)">
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="subject in subjects" ng-click="click('subject', subject)" ng-style="">
                        <h3 layout="column">
                            <span class="badge badge-primary">{{subject.subject}}</span>
                        </h3>

                        <div class="md-list-item-text" layout="column">
                            <h3>{{subject.title}}</h3>
                            <h4>{{subject.nCourses}} Courses</h4>
                        </div>
                    </md-list-item>
                </md-list>
            </md-tab>

            <md-tab label="Courses" md-on-select="setToolbar(2)" ng-disabled="courses.length==0">
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="course in courses" ng-click="click('course', course)" ng-style="course.style">
                        <h3 layout="column">
                            <span class="badge badge-primary">{{course.course}}</span>
                            <span class="badge badge-light">{{course.subject}}</span>
                        </h3>

                        <div class="md-list-item-text" layout="column">
                            <h3>
                                <div layout="row">
                                    {{course.title}}
                                    <span class="badge badge-info" ng-repeat="tag in course.tags">{{tag[0]}}</span>
                                </div>
                            </h3>
                            <h4>
                                <table>
                                    <tr>
                                        <td>
                                            <b>{{course.cr[0]}}<span ng-if="course.cr[0]!=course.cr[1]">-{{course.cr[1]}}</span></b>
                                            Credits
                                        </td>
                                        <td>
                                            <b>{{course.nSections}}</b>
                                            Sections
                                        </td>
                                    </tr>
                                </table>
                            </h4>
                        </div>

                        <md-button class="md-raised md-icon-button" ng-click="courseIconClick(course)" aria-label="label">
                            <md-icon md-svg-src="plus" ng-if="course.style.status == 'none'"></md-icon>
                            <md-icon md-svg-src="check" ng-if="course.style.status == 'green'"></md-icon>
                            <md-icon md-svg-src="cross" ng-if="course.style.status == 'red'"></md-icon>
                            <md-icon md-svg-src="alert" ng-if="course.style.status == 'yellow'"></md-icon>
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-tab>

            <md-tab label="Sections" md-on-select="setToolbar(3)" ng-disabled="sections.length==0">
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="section in sections" ng-click="click('section', section)" ng-style="section.style" ng-mouseenter="mouseEnter(section)" ng-mouseleave="mouseLeave(section)">
                        <h3 layout="column">
                            <span class="badge badge-primary">{{section.crn}}</span>
                            <span class="badge badge-light">{{section.subject}} {{section.course}}</span>
                        </h3>

                        <div class="md-list-item-text" layout="column">
                            <h3>
                                <div layout="row">
                                    {{section.instructor}}
                                    <span class="badge badge-light">{{section.cap[0]}} / {{section.cap[1]}}</span>
                                    <md-progress-circular md-mode="determinate" value="{{section.cap[0] / section.cap[1] * 100}}" md-diameter="16px"></md-progress-circular>
                                </div>
                            </h3>
                            <h4>
                                <span ng-if="section.days.length==0 && section.times.length==0 && section.places.length==0">(No times available)</span>

                                <table ng-if="section.days.length!=section.times.length || section.times.length!=section.places.length">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span ng-repeat="day in section.days"><b>{{day}}</b><br></span>
                                            </td>
                                            <td>
                                                <span ng-repeat="time in section.times">{{time[0]}} - {{time[1]}}<br></span>
                                            </td>
                                            <td>
                                                <span ng-repeat="place in section.places">{{place[0]}} {{place[1]}}<br></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table ng-if="section.days.length==section.times.length && section.times.length==section.places.length">
                                    <tbody>
                                        <tr ng-repeat="time in section.times">
                                            <td>
                                                <b>{{section.days[$index]}}</b>
                                            </td>
                                            <td>
                                                {{time[0]}}-{{time[1]}}
                                            </td>
                                            <td>
                                                {{section.places[$index][0]}} {{section.places[$index][1]}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </h4>
                            <p>{{section.note}}</p>
                        </div>

                        <md-button class="md-raised md-icon-button" aria-label="label">
                            <md-icon md-svg-src="arrow:right"></md-icon>
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-tab>
        </md-tabs>

    </md-card-content>
</md-card>

<div style="visibility: hidden">
    <div id="fullSectionDialog" class="md-dialog-container">
        <md-dialog layout-padding>
            <md-dialog-content class="md-dialog-content">
                <h2>You are adding a full section</h2>
                <p>This section is full. You may need a closed class form to register. Do you want to add it anyway?</p>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised" ng-click="dialog('cancel')">Cancel</md-button>
                <md-button class="md-raised md-primary" ng-click="dialog('confirm')">Add it anyway</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>

    <div id="fullSectionSwitchDialog" class="md-dialog-container">
        <md-dialog layout-padding>
            <md-dialog-content class="md-dialog-content">
                <h2>You are switching to a full section</h2>
                <p>This section is full. You may need a closed class form to register. Do you want to switch to it anyway?</p>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised" ng-click="dialog('cancel')">Cancel</md-button>
                <md-button class="md-raised md-primary" ng-click="dialog('confirm')">Switch to it anyway</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>

    <div id="conflictSectionDialog" class="md-dialog-container">
        <md-dialog layout-padding>
            <md-dialog-content class="md-dialog-content">
                <h2>You are adding a conflicting section</h2>
                <p>This section conflicts with 1 or more sections already added. Do you want to add it anyway?</p>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised" ng-click="dialog('cancel')">Cancel</md-button>
                <md-button class="md-raised md-primary" ng-click="dialog('confirm')">Add it anyway</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>

    <div id="courseInfoDialog" class="md-dialog-container">
        <md-dialog>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-raised" ng-click="dialog('cancel')">
                        <md-icon md-svg-src="arrow:left"></md-icon>
                        Back
                    </md-button>
                    <span flex>
                        {{courseInfoDialog.course.subject}} {{courseInfoDialog.course.course}} - {{courseInfoDialog.course.title}}
                    </span>
                    <md-button class="md-raised" ng-click="dialog('confirm', 'showSections')">
                        <md-icon md-svg-src="arrow:right"></md-icon>
                        Show Sections
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content class="md-dialog-content">
                <ul class="status">
                    <li class="blue" ng-if="courseInfoDialog.course.style.status == 'none'">
                        <md-icon md-svg-src="plus"></md-icon>
                        <span>
                            One or more sections within this course can be added.
                        </span>
                    </li>
                    <li class="green" ng-if="courseInfoDialog.course.style.status == 'green'">
                        <md-icon md-svg-src="check"></md-icon>
                        <span>
                            One section within this course was added.
                        </span>
                    </li>
                    <li class="red" ng-if="courseInfoDialog.course.style.status == 'red'">
                        <md-icon md-svg-src="cross"></md-icon>
                        <span>
                            All sections within this course conflict with one or more selected sections.
                            Remove some sections and try again.
                        </span>
                    </li>
                    <li class="yellow" ng-if="courseInfoDialog.course.style.status == 'yellow'">
                        <md-icon md-svg-src="alert"></md-icon>
                        <span>
                            All sections within this course are full.
                            You may need the Closed Class Form to register.
                        </span>
                    </li>
                </ul>

                <h3>Description</h3>
                <p ng-if="courseInfoDialog.course.description.length == 0">(None)</p>
                <p>{{courseInfoDialog.course.description}}</p>

                <h3>Tag</h3>
                <p ng-if="courseInfoDialog.course.tags.length==0">(None)</p>
                <table class="tags">
                    <tbody>
                        <tr ng-repeat="tag in courseInfoDialog.course.tags">
                            <td>
                                <span class="badge badge-info">{{tag[0]}}</span>
                            </td>
                            <td>
                                {{tag[1]}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h3>CRN ({{courseInfoDialog.sections.length}})</h3>
                <table class="sections">
                    <thead>
                        <tr>
                            <th>CRN</th>
                            <th>Section</th>
                            <th>Instructor</th>
                            <th>Cap</th>
                            <th>
                                <!-- md-progress-circular -->
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="section in courseInfoDialog.sections">
                            <td>
                                {{section.crn}}
                            </td>
                            <td>
                                {{section.section}}
                            </td>
                            <td>
                                {{section.instructor}}
                            </td>
                            <td>
                                <b>{{section.cap[0]}}</b> / {{section.cap[1]}}
                            </td>
                            <td>
                                <md-progress-circular md-mode="determinate" value="{{section.cap[0] / section.cap[1] * 100}}" md-diameter="16px"></md-progress-circular>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-dialog-content>
        </md-dialog>
    </div>

    <div id="sectionInfoDialog" class="md-dialog-container">
    </div>
</div>
