<link rel="stylesheet" href="/client/css/semesterPlanner/courseSelectorCard.css">

<md-card id="courseSelectorCard" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-raised" ng-click="click('toolbar')">{{toolbar.button}}</md-button>
            <span flex>{{toolbar.title}}</span>
            <md-button ng-click="magicTestButton()">TEST</md-button>
        </div>
    </md-toolbar>

    <md-card-content flex style="padding: 0px">
        <!-- There is a bug in AngularJS that tabIndex must be a controller variable -->
        <md-tabs class="md-primary" md-selected="controller.tabIndex" md-center-tabs md-align-tabs="bottom" layout-fill style="padding-bottom: 0px;">
            <md-tab label="Search" md-on-select="setHeader(0)">
            </md-tab>

            <md-tab label="Subjects" md-on-select="setHeader(1)">
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="subject in subjects" ng-click="click('subject', subject)" ng-style="">
                        <div class="md-list-item-text" layout="column">
                            <h3><b>{{subject.subject}}</b> - {{subject.title}}</h3>
                            <h4>{{subject.nCourses}} Courses</h4>
                        </div>
                    </md-list-item>
                </md-list>
            </md-tab>

            <md-tab label="Courses" md-on-select="setHeader(2)" ng-disabled="courses.length==0">
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="course in courses" ng-click="click('course', course)" ng-style="">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{course.title}}</h3>
                            <h4>
                                <table>
                                    <tr>
                                        <td>
                                            <b>{{course.course}}</b>
                                        </td>
                                        <td>
                                            <b>{{course.cr[0]}}<span ng-if="course.cr[0]!=course.cr[1]">-{{course.cr[1]}}</span></b>
                                            Credits
                                        </td>
                                        <td>
                                            <b>{{course.nSections}}</b>
                                            Sections
                                        </td>
                                    </tr>
                                </table>
                            </h4>
                            <p>
                                <span class="badge badge-primary" ng-repeat="tag in course.tags">{{tag[0]}}</span>
                            </p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-tab>

            <md-tab label="Sections" md-on-select="setHeader(3)" ng-disabled="sections.length==0">
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="section in sections" ng-click="click('section', section)" ng-style="" ng-mouseenter="" ng-mouseleave="">
                        <div class="md-list-item-text" layout="column">
                            <h3>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                CRN <b>{{section.crn}}</b>
                                            </td>
                                            <td>
                                                <b>{{section.instructor}}</b>
                                            </td>
                                            <td>
                                                Cap <b>{{section.cap[0]}}</b>/{{section.cap[1]}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </h3>
                            <h4>
                                <span ng-if="section.days.length==0 && section.times.length==0 && section.places.length==0">(No times available)</span>

                                <table ng-if="section.days.length!=section.times.length || section.times.length!=section.places.length">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span ng-repeat="day in section.days"><b>{{day}}</b><br></span>
                                            </td>
                                            <td>
                                                <span ng-repeat="time in section.times">{{time[0]}} - {{time[1]}}<br></span>
                                            </td>
                                            <td>
                                                <span ng-repeat="place in section.places">{{place[0]}} {{place[1]}}<br></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table ng-if="section.days.length==section.times.length && section.times.length==section.places.length">
                                    <tbody>
                                        <tr ng-repeat="time in section.times">
                                            <td>
                                                <b>{{section.days[$index]}}</b>
                                            </td>
                                            <td>
                                                {{time[0]}}-{{time[1]}}
                                            </td>
                                            <td>
                                                {{section.places[$index][0]}} {{section.places[$index][1]}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </h4>
                            <p>{{section.note}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-tab>
        </md-tabs>

    </md-card-content>
</md-card>
