#technicalInfoCard > md-card-content {
    padding-top: 4px;
    padding-bottom: 4px;
}

#technicalInfoCard > md-card-content > span {
    display: block;
    text-align: center;
}

#technicalInfoCard > md-card-content > pre {
    margin-top: 0px;
    margin-bottom: 0px;
}
